.body {
    color:black;
    align-items: center;
  }
  .jumbotron {
    color:white;
  }
  .container {
    justify-content: space-around;
    color: black;
  }
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }